<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hi there! I’m Travis and welcome to my portfolio!<br /><br />
          I am an 18-year-old student currently studying at the Nelson
          Marlborough Institute of Technology (NMIT). I am currently studying in
          my first year of a degree in Information and Technology. Prior to the
          experience and knowledge, I am currently gaining, I have had some
          experience in programming in a few languages. These being HTML,
          JavaScript, p5.js, Java and Arduino. I am uncertain of what the future
          will bring, although I do hope to continue writing in HTML.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          So far while studying I have learned a lot of theory in regards to
          programming. In semester one, I learned how to use and operate a a
          DevOps management system, to effective communicate and share my work.
          I also was able to learn about the SDLC (Software Development Life
          Cycle), how important it is and how it will effect me. By learning
          these skills, I am able to confidently program in a team, being able
          to maximise efficecy and effectiveness. After completing this year, I
          hope to become more insightful with HTML & CSS design, but also be
          able to implement more JavaScript features. My goal for this year is
          to learn more about the fundamentals and variety of algorithms that
          HTML and JavaScript bring. In my spare time I enjoy working on my
          GitHub README.md and socialising with friends and family. I hope you
          enjoy my portfolio and please get in touch if you have any further
          questions or opportunities you would like me to pursue.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/travisbyr" class="btn btn-lg btn-outline">
          View my GitHub Profile
        </a>
      </div>
    </div>
  </div>
</section>
